header {
    background-image: radial-gradient(circle,rgba(232, 137, 60, 0.4), rgba(255, 202, 160, 0.1)), url("images/background-car.jpg");
    background-position: center;
    background-size: cover;
    height: 95vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1,
h2 {
    font-family: 'Niconne', cursive;
    text-align: center;
    text-shadow: 4px 4px 5px white;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

.name_logo {
    font-family: 'Niconne', cursive;
    text-shadow: 4px 4px 5px white;
    font-size: 3rem;
    color: black;
}

.carousel {
    width: 400px;
    height: 300px;
}